h5
{
    color: black;
    font-size: 22px;
    font-family: 'Georgia', serif;

}

h6
{
    color: black;
    font-size: 18px;
    font-family: 'Georgia', serif;

}

h2
{
    color: rgb(231, 231, 231);
    font-size: 20px;
    font-family: 'Georgia', serif;
    margin-left: 1%;

}

h1
{
    color: rgb(231, 231, 231);
    font-size: 14px;
    font-family: 'Georgia', serif;

}

h3
{
    color: rgb(231, 231, 231);
    font-size: 18px;
    font-family: 'Georgia', serif;
    margin-left: 3%;

}

h4
{
    color: rgb(231, 231, 231);
    font-size: 36px;
    font-family: 'Georgia', serif;
    margin-top: 2%;
    margin-left: 2%;

}

.white_box
{
    width: 75%;
    background-color: white;
}

body
{
    background-image: linear-gradient(to right, #09113c, #0c1746, #0e1e50, #11245a, #122b65, #0d2c6f, #072e78, #002f82, #002a8c, #002294, #0f179b, #2300a1);
    overflow-x: hidden;
}

.img-responsive
{
    width: 80%;
}

.post_profile_pic
{
    float: left;
    margin-top: 2%;
    margin-left: 2%;
}

.posted_by a
{
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #001a41;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
}


.delete_button
{
    background-color: rgb(184, 38, 38);
    color: aliceblue;
    border: none;
    float: right;
    margin-right: 2%;
    margin-top: 1%;
}

.report_button
{
    background-color: rgb(184, 174, 38);
    color: aliceblue;
    border: none;
    float: right;
    margin-right: 2%;
    margin-top: 1%;
}

.report_buttoned
{
    background-color: rgb(184, 174, 38);
    color: aliceblue;
    border: none;
    float: right;
    margin-right: 2%;
    margin-top: 1%;
}

.time
{
    float: left;
    margin-left: 2%;
}

.type
{
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}

iframe
{
    margin-top: 2%;
    height: 350px;
    width: 80%;
}

#post_text
{
    width: 70%;
}

.custom-file-input
{
    margin-left: 12.5%;
}

#post_button
{
    background-color: #101011;
    color: white;
    width: 60px;
    height: 40px;
    border: none;
}

#post_button:hover
{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.profile_photo
{
    width: 60%;
    margin-top: 2%;
}

.btn-success a
{
    color: white;
    text-decoration: none;
}

.btn-danger a
{
    color: white;
    text-decoration: none;
}

#title_news
{
    width: 50%;
}

#link_news
{
    width: 50%;
}

#title_videos
{
    width: 50%;
}

#link_videos
{
    width: 50%;
}

#small_profile_pics
{
    width: 40%;
    margin-left: 2%;
}

.setting_form input
{
    margin-left: 2%;
}

.settings_button
{
    background-color: #101011;
    color: white;
    width: 180px;
    height: 40px;
    border: none;
    margin-left: 2%;
}

.settings_button:hover
{
    background-color: #005ad8;
    color: white;
    transition: 0.5s;
}

.post_body
{
    color: black;
    font-size: 18px;
    font-family: 'Georgia', serif;
}

.link .btn
{
    width: 75%;
    border-radius: none;
    font-size: 20px;
    background-color: rgb(170, 170, 19);
    border: none;
    color: #101011;
}

.link .btn:hover
{
    background-color: rgb(255, 255, 0);
    transition: 0.5s;
}

#post_body
{
    cursor: pointer;
}

.content_link
{
    cursor: pointer;
}