#content .hidden{
    display: none;
}
#content #loader{
    display: none;
}

.delete_button {
	z-index: 99999;
}

.hidden, .hide {
	display: none;
}
.modal.in .modal-dialog {
    z-index: 999999;

    }